<!DOCTYPE html>
<html>
<head>
	<title>Restaurant Information</title>
	<link rel="stylesheet" type="text/css" href="\HTML PROJECT\infopage1\newtemplate.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
     
  	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> 
  	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  	    
  	     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  	     <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	     <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

  	     <link rel="stylesheet" type="text/css" href="\HTML PROJECT\infopage1\calstyle.css">
        <link rel="stylesheet" type="text/css"href="\HTML PROJECT\infopage1\calstyle.scss">
         <link rel="shortcut icon" type="image/png" href="\HTML PROJECT\logo\final.png">

  
</head>
<body>

	 

	<header>
		<nav class="nav">
    		<ul>
    			<li><a href="\HTML PROJECT\home32.php">HOME</a></li>
          <li><a href="\HTML PROJECT\home32.php\#contents">Features</a></li>
          
          <li><a href="\HTML PROJECT\videowork\work.html">Work</a></li>
          <li class="logo"><a href=""><img src="\HTML PROJECT\14.png" alt="" class="black">
          </a></li>
          <li><a href="\HTML PROJECT\team\team2.html">Team</a></li>
        
          <li><a href="\HTML PROJECT\gallery\blog.php">Blog</a></li>
          <li><a href="\HTML PROJECT\home32.php\#contact-right">Contact</a></li>
    		</ul>

            <a  class="nav-icon" href="javascript:void(0);"></a>
    	</nav>

	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-5"> 
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner">
        <div class="carousel-item active">
      <a href="mc9.jpg"><img class="d-block w-100" src="mc9.jpg" alt="First slide"></a>
    </div>
    <div class="carousel-item">
      <a href="mc10.jpg"><img class="d-block w-100" src="mc10.jpg" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
      <a href="mc10.jpg"><img class="d-block w-100" src="mc10.jpg" alt="Third slide">
    </a></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
    <span class="sr-only">Previous</span>
       </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
       </a>
       </div>
			</div>

			
			<div class="col-md-7"> 
				<p class="trending text-center">Hot</p>
				<h2 class="heading">Mainland China</h2>
				<p>1800Rs for 2 | Chinese, Seafood &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong class="rate"> &nbsp4.3/5&nbsp </strong></p>
				<p>Ghatkopar West | Central Suburbs |<a href="https://goo.gl/maps/HfaGTpAQzFWnhR5Y8" class="direction">Get Direction</a></p>
				<p>Time: 07:00 PM to 11:30 PM</p>
				<div class="dropdown">
                   <button class="dropbtn">Open Now</button>
                   <div class="dropdown-content">
                      <a href="#">Sunday 07:00 PM to 11:00 PM</a>
                     
                      <a href="#">Monday 07:00 PM to 11:00 PM</a>
                      
                      <a href="#">Tuesday 07:00 PM to 11:00 PM</a>
                      
                    
                    
                      <a href="#">Thursday 07:00 PM to 11:00 PM</a>
                      
                      <a href="#">Friday 07:00 PM to 11:00 PM</a>
                      <a href="#">Saturday 12:00 PM to 03:30 PM</a>
                      <a href="#">Saturday 07:00 PM to 11:00 PM</a>
               </div>
			</div>
        <a href="\HTML PROJECT\payment\Checkout Form\Checkout Form\payementform.php" style="text-decoration: none;"><button style="background-color: #3595ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;">Book Now</button></a>

		</div>
		
	</div>
	<br>
	

<div style="float: left;">
	<div class="tabContainer">
    <div class="buttonContainer">
        <button class="b1" onclick="showPanel(0,'#f0f0f0')" style="background-color: #f0f0f0;">Menu</button>
        <button class="b1" onclick="showPanel(1,'#f0f0f0')">About Us</button>
        <button class="b1" onclick="showPanel(2,'#f0f0f0')">Review</button>
        
    </div>

    <div class="tabPanel" style="background-color: #f0f0f0;">
    	<p style="font-size: 22px; color: black; text-align: left;font-family: 'Roboto Condensed',sans-serif;">MENU & FOOD</p>
    	<a href="mc5.jpg"><img src="mc5.jpg"></a>
    	<a href="mc6.jpg"><img src="mc6.jpg"></a>
    	<a href="mc7.jpg"><img src="mc7.jpg"></a>
    	<a href="mc8.jpg"><img src="mc8.jpg"></a>
    	<br><br>
        <p style="font-size: 22px; color: black; text-align: left;font-family: 'Roboto Condensed',sans-serif;">ATMOSPHERE</p>
    	<a href="mc1.jpg"><img src="mc1.jpg"></a>
    	<a href="mc2.jpg"><img src="mc2.jpg"></a>
    	<a href="mc3.jpg"><img src="mc3.jpg"></a>
    	<a href="mc4.jpg"><img src="mc4.jpg"></a>

    </div>
    <div class="tabPanel" style="background-color: #f0f0f0;">
    	<h2 class="rajdhani" style="text-align: left; font-family: 'Roboto Condensed',sans-serif;"><img src="about.png" style="margin:0px 15px 0px 0px;">About Us</h2>
    	<p class="text-area">
   Mainland China is well known for its specific Chinese cooking techniques. This is for the crowd who looks for great flavors of Chinese cuisine along with a great ambiance. The contrasting flavors and spices used are combined to bring out a sense of balance on the plate, a concept of Yin and Yang. Sauces, ingredients, and spices are handpicked by the chefs.
     <br>
     <h2 style="text-align: left;color: black;font-family: 'Roboto Condensed',sans-serif;"><img src="cuisine.png" style="margin:0px 15px 0px 0px;">Cuisine</h2>
     <p style="text-align: left; color: black; font-size: 22px;font-family: 'Roboto Condensed',sans-serif;">Chinese Seafood</p>
     
     <h2 style="text-align: left;color: black;font-family: 'Roboto Condensed',sans-serif;"><img src="facilities.png" style="margin:0px 15px 0px 0px;">Facilities</h2>
     <p style="text-align: left; color: black; font-size: 22px;font-family: 'Roboto Condensed',sans-serif;">Air Conditioned | Lift | Wifi | Home Delivery | Parking | Take Away | Differently Abled Friendly | Cards Accepted | Amex Accepted | Serves Wine,
Screening</p>
     
     <h2 style="text-align: left;color: black;font-family: 'Roboto Condensed',sans-serif;"><img src="type.png" style="margin:0px 15px 0px 0px;">Type of Restaurant</h2>
     <p style="text-align: left; color: black; font-size: 22px;font-family: 'Roboto Condensed',sans-serif;">Buffet, Kids Friendly, Lunch Buffet, Dinner Buffet.

    </p>
     <br>
     
  
     
</div>
    <div class="tabPanel" style="background-color: #f0f0f0;">
       <div class="container mt-5">
  <div class="form-group">
  	<h2 style="color: black; font-family: 'Roboto Condensed',sans-serif;"> Rating and Reviews</h2>
    <select id="product-select" class="form-control custom-select">
        <option value="0" disabled selected>Select Product</option>
        <option value="cost">Average Cost</option>
        <option value="service">Service Provided</option>
        <option value="taste">Food Quality</option>
        <option value="environment">Ambience</option>
        <option value="discount">Discount and offers</option>
      </select>

  </div>

  <div class="form-group">
    <input type="number" id="rating-control" class="form-control" step="0.1" max="5" placeholder="Rate 1 - 5" disabled>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;">Feedbacks and Reviews</th>
        <th style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cost">
        <td style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;"> Average Cost</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating" style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;"></span>
        </td>
      </tr>
      <tr class="service">
        <td style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;">Service Provided</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating" style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;"></span>
        </td>
      </tr>
      <tr class="taste">
        <td style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;">Food Quality</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating" style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;"></span>
        </td>
      </tr>
      <tr class="environment">
        <td style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;">Ambience</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating" style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;"></span>
        </td>
      </tr>
      <tr class="discount">
        <td style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;">Discount and Offers</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating" style="color: black; font-family: 'Roboto Condensed',sans-serif;font-size: 22px;"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>  
    </div>

    </div>
    <div style="float: right;">
     
    

<div class="app-container" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>
		
	<div date-picker
		 datepicker-title="Select Date"
		 picktime="true"
		 pickdate="true"
		 pickpast="false"
		 mondayfirst="false"
		 custom-message="Date selected: "
		 selecteddate="ctrl.selected_date"
		 updatefn="ctrl.updateDate(newdate)">
	
		<div class="datepicker"
			 ng-class="{
				'am': timeframe == 'am',
				'pm': timeframe == 'pm',
				'compact': compact
			}">
			<div class="datepicker-header">
				<div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
				<div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
			</div>
			<div class="datepicker-calendar">
				<div class="calendar-header">
					<div class="goback" ng-click="moveBack()" ng-if="pickdate">
						<svg width="30" height="30">
							<path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
						</svg>
					</div>
					<div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
					<div class="goforward" ng-click="moveForward()" ng-if="pickdate">
						<svg width="30" height="30">
							<path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
						</svg>
					</div>
				</div>
				<div class="calendar-day-header">
					<span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
				</div>
				<div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
					<div
						ng-class="{'no-hover': !day.showday}"
						ng-repeat="day in month"
						class="datecontainer"
						ng-style="{'margin-left': calcOffset(day, $index)}"
						track by $index>
						<div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
							{{ day.daydate }}
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="datepicker-header">
				<!--<p style="font-size: 1.2em;text-align: center;margin-top: 7px;margin-bottom: 7px">Select Time</p>-->
			</div>
			<br>
			<div class="timepicker" ng-if="picktime == 'true'" >
				<div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
					<div class="timepicker-container-outer" selectedtime="time" timetravel>
						<div class="timepicker-container-inner">
							<div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
								<div class="current-time">
									<div class="actual-time">{{ time }}</div>
								</div>
								<div class="timeline">
								</div>
								<div class="hours-container">
									<div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
								</div>
							</div>
							<div class="display-time">
								<div class="decrement-time" ng-click="adjustTime('decrease')">
									<svg width="24" height="24">
										<path stroke="white" stroke-width="2" d="M8,12 h8"/>
									</svg>
								</div>
								<div class="time" ng-class="{'time-active': edittime.active}">
									<input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
									<div class="formatted-time">{{ edittime.formatted }}</div>
								</div>
								<div class="increment-time" ng-click="adjustTime('increase')">
									<svg width="24" height="24">
										<path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
									</svg>
								</div>
							</div>
							<div class="am-pm-container">
								<div class="am-pm-button" ng-click="changetime('am');">am</div>
								<div class="am-pm-button" ng-click="changetime('pm');">pm</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="buttons-container">
				<div class="cancel-button">CANCEL</div>
				<div class="save-button">SAVE</div>
			</div>
			
		</div>
	</div>
</div> 

</div>


    <br><br><br><br><br>

      <footer>
        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="contact-left">
                            <h2>HUNGRY HOUSE</h2>
                            <br>
                            <p>Hungry House is a restaurant table reservation website founded in 2019 by <b>Rithik Sharma</b> ,<b>Chetan Lodha </b>and <b>Dhruv Bhat</b> based in St.Francis, Mumbai,India.</p>
                            <p>In this website making we have used <b>HTML, CSS ,javascript</b>.Various other plugin were required and also we have provided with link to it.In the first section we have a sticky navigation bar with a pop at right hand corner.In second section we have a video slider .In third section we have shown the services provided .In fourth section we have shown the list of restaurants with its link .In the fifth section have shown the about us sction.And last the normal footer section.
                            </p>
                            <div id="contact-info">
                                <address>
                                    <strong>Location:</strong><br>
                                    <p>
                                        St.Francis institute of technology <br>
                                        Mount Poinsur, S.V.P. Road, Borivali(west), Mumbai-400 103
                                    </p>
                                </address>
                                <div id="phone-fax-email">
                                    <p>
                                        <strong>Phone:</strong><span>
                                            022-2898585
                                        </span>
                                        <br>

                                         <span>
                                            +91-9082144790
                                        </span>
                                        <br>

                                         <span>
                                            +91-9082144790
                                        </span>
                                    </p>
                                    
                                </div>
                                
                            </div>
                            <!--<ul class="social-list">
                                <li><a href="" class="social-icon icon-white">
                                    <i class="fa fa-facebook"></i>
                                </a></li>

                                <li><a href="" class="social-icon icon-white">
                                    <i class="fa fa-google-plus"></i>
                                </a></li>

                                <li><a href="" class="social-icon icon-white">
                                    <i class="fa fa-instagram"></i>
                                </a></li>
                            </ul>-->

                         </div>
                    </div>
                    <div class="col-md-6">
                        <div id="contact-right">
                            <h3>Contact us</h3>
                            <br>
                            <form>
                                <input type="text" name="full name" placeholder="Full Name" class="form-control">

                                <input type="text" name="email" placeholder="Email Address" class="form-control">

                                <textarea rows="5" name="message" placeholder="message..." class="form-control"></textarea>

                                <div id="send-btn">
                                    <a href="" class="btn btn-lg btn-general btn-white">SEND</a>
                                    
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>


                </div>  
            </div>
        </div>
        

<div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="footer-copyrights">
                            <p>Copyrights &copy; 2019 All Rights Reserved by Hungry House Inc.</p>
                            
                        </div>
                        
                    </div>

                    <div class="col-md-6">
                        <div id="footer-menu">
                            <ul>
                                   <li><a href="\HTML PROJECT\home32.php">HOME</a></li>
                                <li><a href="\HTML PROJECT\home32.php\#contents">FEATURES</a></li>
                                <li><a href="\HTML PROJECT\videowork\work.html">WORK</a></li>
                                <li><a href="\HTML PROJECT\team\team2.php">TEAM</a></li>
                                <li><a href="\HTML PROJECT\gallery\blog.php">BLOG</a></li>
                                <li><a href="\HTML PROJECT\home32.php\#contact-right">CONTACT</a></li>
                            </ul>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>

    </footer>
    
</div>





 <script src="\HTML PROJECT\home11.js"></script>

<script src="\HTML PROJECT\infopage1\myScript.js"></script>
<script type="text/javascript">
	// Initial Ratings
    const ratings = {
      cost: 4.7,
      service: 3.4,
      taste: 3.8,
      environment: 3.6,
      discount: 4.1
    }

    // Total Stars
    const starsTotal = 5;

    // Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings);

    // Form Elements
    const productSelect = document.getElementById('product-select');
    const ratingControl = document.getElementById('rating-control');

    // Init product
    let product;

    // Product select change
    productSelect.addEventListener('change', (e) => {
      product = e.target.value;
      // Enable rating control
      ratingControl.disabled = false;
      ratingControl.value = ratings[product];
    });

    // Rating control change
    ratingControl.addEventListener('blur', (e) => {
      const rating = e.target.value;

      // Make sure 5 or under
      if (rating > 5) {
        alert('Please rate 1 - 5');
        return;
      }

      // Change rating
      ratings[product] = rating;

      getRatings();
    });

    // Get ratings
    function getRatings() {
      for (let rating in ratings) {
        // Get percentage
        const starPercentage = (ratings[rating] / starsTotal) * 100;

        // Round to nearest 10
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

        // Set width of stars-inner to percentage
        document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

        // Add number rating
        document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
      }
    }
</script>




     
   
<script src="\HTML PROJECT\infopage1\myScript.js"></script>	 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
	 <script src="\HTML PROJECT\infopage1\calindex.js"></script>
	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>

</html> 