 .nav{
 	display: flex;
 	justify-content: center;
 	padding-top: 12px;
 	padding-bottom: 3px;
 	position: absolute;
 	transform: all 0.3s;
 	background: white;
 	z-index: 9;
 	top: 0px;
 	width: 100%;

 }
 


 .nav ul{
 	display: flex;
 	align-items: center;
 	flex-wrap: wrap;
 }

 .nav ul li{
 	display: flex;
 }

 .nav ul li a {
 	font-family: 'Roboto Condensed', sans-serif;

 	font-size: 1.1em;
 	color:  #333;
 	padding: 0.25rem 0;
 	margin: 10px 1.80rem;
 	text-transform: uppercase; 
 }

.nav ul li a h5{
	font-family: 'Bungee Inline';
	font-size: 2em;
	text-transform: uppercase;
}


 .nav ul li .logo .black{
 	display: none;
 }

 .nav ul li.logo a{
 	margin: 0 2rem;
 }

 .nav-icon{
 	position: absolute;
 	top: 27px;
 	right: 30px;
 	padding: 5px;
 	width: 40px;
 	z-index: 1;
 	cursor: pointer;
 }

 .nav-icon span{
 	background: #333;
 	width: 30px;
 	height: 1px;
 	display: block;
 	transition: 300ms linear all;
 }

  .nav.sticky{
 	width: 100%;
 	position: fixed;
 	background-color: white;
 	box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
 	animation-name: animationFade;
 	animation-duration: 1s;
 	animation-fill-mode: both;
 }

.container{
	margin-top: 100px;
	padding: 20px;

}

.trending{
	background: orange;
	width: 60px;
	font-size: 12px;
	font-weight: bold;

}

.heading{
	font-size: 55px;

	font-family: 'Roboto Condensed', sans-serif;
}
.rate{
	font-size: 25px;
	background: green;
	color: white;
	width: 50px;
}

.direction{
	text-decoration: none;
}

.dropbtn {
  background-color: #3595ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: black;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background: black;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {background-color: #ddd; text-decoration: none;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3595ff;}



.tabContainer{
    width: 100%;
    height: 350px;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
    color: black;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 220%;
    width: 75%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.b1{
	color: black;
}

.tabPanel .text-area{
	font-size: 25px;
	font-family: 'Roboto Condensed',sans-serif;
	color: black;
}

.tabPanel .rajdhani{

	font-size: 40px;
	font-family: 'Roboto Condensed',sans-serif;
	color: black;
}


.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

footer{
	background-color: #1c1c1d;
	margin-top: 43%;
	padding-top: 10px;
	border-top: 5px solid rgba(0,0,0,0.1);
}

#contact-left h2,
#contact-right h3{
	color: white !important;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: 2px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

#contact-left p{
	color: white;
	margin-bottom: 30px;
	font-family: 'Roboto Condensed',sans-serif;

}

#contact-info{
	background-image: url(\HTML PROJECT\restaurant1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

address{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

address strong{
	font-size: 17px;
}

form .form-control{
	background: transparent;
	border-radius: 0;
	border-color: white;
	font-size: 17px;
	font-weight: 300;
	padding: 8px 17px;
	margin-bottom: 20px;
	color: white;
}

#footer-bottom{
	background-color: rgba(0,0,0,0.1);
	padding: 30px 0;
	margin-top: 59px;
}

#footer-copyrights p{
	margin: 0;
	color: white;
}

#footer-menu{
	float: left;
	color: white;
	font-size: 17px;
	font-weight: 300;
}

#footer-menu ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}


#footer-menu ul li{
    display: inline-block;
}

#footer-menu a{
	color: white;
	font-size: 17px;
	font-weight: 300;
	margin: 0 10px;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

#footer-menu a:hover{
	color: orange;
}

ul.social-list{
	display: flex;
	color: white;

}

ul.social-list li a{
	margin-right: 10px;
	color: white;
}

#btn-white{
	border-color: white;
	color: white;
	
}

#btn-white:hover{
	border-color: white;
	color: #fff;
	
}

.btn-general{
	border-width: 2px;
	border-radius: 0;
	padding: 12px 25px 12px 25px;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	border-color: white;
}

#footer-copyrights p{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.map{
	margin-right: 60px;
}

